マイページ
<%= @user.prefecture[:name] %>
<%= link_to '編集', edit_user_path(current_user) %>

<div class="XXXX">
  <p><%= @user.nickname %>さんのお気に入りの公園一覧</p>

  <% @parks.each do |park| %>
      <span class="ZZZZ"><%= park.name %></span>
  <% end %>
</div>