.nav {
  background-color: #9fc24d;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  font-size: 80px;
  font-family: 'Londrina Shadow', cursive;
  color: white;
}

.lists-right {
  margin: 0 0 0 auto;
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.mypage {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}